Source: xzpv
Section: utils
Priority: optional
Maintainer: Wes Rickey <dwrickey@gmail.com>
Build-Depends: debhelper-compat (= 13), cmake, gcc
Standards-Version: 4.6.2
Homepage: https://github.com/Grimmslaw

Package: xzpv
Architecture: any
Depends: ${shlibs:Depends}, ${misc.Depends}, pv, xz-utils
Description: Cross-platform XZ archiver with visual progress indicator
  A cross-platform command, wrapping the xz and pv commands to provide
  a visual indicator for the progress made by the compression.